@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: #020617; /* Slate-950 (Dark Mode) */
  color: #e2e8f0;
}

/* Hide scrollbar for clean UI */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
